{% extends "personal/header.html" %}
{% load staticfiles %}

{% block mark %}
      <a class="navbar-brand" href="{% url 'main' %}">Retrikler</a>
            {% endblock %}
{% block contact %}
        <li><a href="{% url 'contact' %}">Contact us</a></li>
      {% endblock %}
{% block login %}
    <li><a href="{% url 'signin' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
{% endblock %}
{% block header %}<img src='{% static 'C:/jango/myproject/personal/static/personal/img/texturas papel (6).jpg' %}' style=";width: 100%;
    height:110%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;filter:opacity(70%);"> {% endblock %}

{% block content %}
  <!-- The Contact Section -->
    <div style="margin-bottom: 100px">
  <div style="padding: 62px;padding-left: 500px" id="contact">
    <h2>CONTACT</h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> New Delhi<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91989991756<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: recyclergreen@support.com<br>
      </div>
    </div>
  </div>
    </div>

<!-- End Page Content -->

{% endblock %}