{% extends "personal/header.html" %}
{% load staticfiles %}

{% block mark %}
      <a class="navbar-brand" href="{% url 'mainin' %}">Retrikler</a>
{% endblock %}
{% block contact %}
        <li><a href="{% url 'contactin' %}">Contact us</a></li>
      {% endblock %}
{% block product %}
                      <li><a href="{% url 'index' %}">Products</a></li>

      {% endblock %}
{% block recycle %}
                      <li><a href="{% url 'recycle_pro' %}">Recycle</a></li>

      {% endblock %}
{% block sell %}
                      <li><a href="{% url 'submit_pro' %}">Sell product</a></li>

      {% endblock %}
{% block logout %}<li> <a href="{% url 'logout_user' %}"><span class="glyphicon glyphicon-off" ></span>&nbsp; Logout</a></li>
{% endblock %}
{% block header %}<img src='{% static 'C:/jango/myproject/personal/static/personal/img/profile.jpg' %}' style="size: cover;width: 100%;
    height: 150%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;filter:opacity(30%);"> {% endblock %}


{% block content %}
<div style="position: relative" >
 <!-- <img class="w3-image" src={% static 'C:/jango/myproject/personal/static/personal/img/profile.jpg' %} alt="Architecture" width="1500" height="800" style="opacity: 0.4;
    filter: alpha(opacity=70)">
      <div style=" position: absolute;top: 8px;left: 16px;font-size: 18px;">-->
    <div class="content">
        <img src={% static 'C:/jango/myproject/personal/static/personal/img/1957ab153e19139.jpg'%} id="right" >
          <h1 style="font-family:cursive;color:#2E4053" >Why?</h1>
          <p>By using recycled materials we save on energy consumption,<br> which keeps production costs down.</p>
    <br>
          <h1 style="font-family:cursive;color:#2E4053">What?</h1>
          <p>The following items should not be placed into your recycling bin:<br>
              Any glass contaminated with stones, dirt, and food waste. Ceramics,<br>
              such as dishware, ovenware, and decorative items.<br>
              Heat-resistant glass, such as Pyrex. Mixed colors of broken glass.<br>
              Mirror or window glass. Metal or plastic caps and lids. Crystal.</p>
    <br>
          <h1 style="font-family:cursive;color:#2E4053">How?</h1>
    <h4><strong>What should we do with our old electronics?</strong></h4>
               <p>   First, we should never throw e-waste in the trash!<br>
                   <ol type="i">
    <li>Pass them on for reuse.</li>
    <li>Recycle them.</li>
    <li>Find a good e-waste recycler.</li>
    <li>Staples stores.</li>
    <li>Best Buy stores.</li>
    <li>Do a cell phone recycling drive and fundraiser in your school.</li>
    <li>Learn to fix broken gadgets yourself.</li>
               </p>
</div>
</div>



	<!--<div>
  <img src="{% static 'C:/jango/myproject/personal/static/personal/img/profile.jpg' %}" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  </div>


<div>
	<h1 style="">Why?</h1>
	<h1>What?</h1>
	<h1>How?</h1>
</div>-->


{% endblock %}